@charset "utf-8";

body {
    background-color: #000000;
    display: block;
    width: 100%;
    max-width: 1080px;
    height: 30px;
    margin: auto;
    color: #ff59c7;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-size: larger;
    grid-column: span 3 / auto;
}

div.CurrentEx > div{
    display: grid;
    grid-template-columns: 2 / auto;
    grid-template-rows: 1 / auto;
}

div#currentEx > div > li{
    display: grid;
    grid-column: span 1 / auto;
    grid-row: span 1 / auto;
}

.Rpi{

    width: 300px;
    height: 200px;
    margin-left: 20px;
    
}

div.Courses > div{
    display: grid;
    grid-template-columns: 3 / auto;
    grid-template-rows: 3 / auto;
}

div.Courses > div > li{
    display: grid;
    grid-column: span 1 / auto;
    grid-row: span 1 / auto;
}

.Cyber{
    width: 300px;
    height: 200px;
    margin-left: 200px;
}

div#CurrentEx{
    display: grid;
    grid-column: span 2 / auto;
    grid-row: span 3 / auto;
    background-color: #000000;
}

#Courses{
    display: grid;
    grid-column: span 2 / auto;
    grid-row: span 1 / auto;
    gap: 15px;
    background-color: #000000;
    padding: 15px;
}