@charset "utf-8";

li{
    float: left;
    text-align: center;
    padding: auto;
}

body {
    background-color: #000000;
    max-width: 1080px;
    display: block;
    width: 100%;
    max-width: 1080px;
    height: 30px;
    margin: auto;
}

.Top3-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    color: #ff59c7;
    background-color: #000000;
    padding: 5px;
}

.SysAdmin {
    grid-column-start: 2;
    grid-column-end: 1;
    color: #ff59c7;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


p{
    float: left;
}
.CyberSec {
    grid-column-start: 1;
    grid-column-end: 2;
    color: #ff59c7;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
.NetSec {
    grid-column-start: 1;
    grid-column-end: 2;
    color: #ff59c7;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}